/* ------------------- ESTILOS GENERALES ------------------- */

/* Estilos generales para el cuerpo de la página */
body {
  box-sizing: border-box;
  font-family: "Inter", serif;
  margin: 0;
  background-color: #f5f1da
}

/* Estilos generales para los enlaces */
a {
  font-size: 16px;
}





/* ------------------- CABECERA ------------------- */

/* Contenedor principal de la cabecera */
#cabezera {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Estilos del elemento <header> */
header {
  background-size: contain;
  background-repeat: no-repeat;
  height: 925px;
  width: 1920px;
  background-image: url(imagenes/imageninicial.png);
}

/* Estilos del logo en la cabecera */
.logo {
  height: 110px;
  margin-top: 30px;
  margin-left: 115px;
}




/* ------------------- MENÚ ------------------- */

/* Contenedor del menú */
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 115px;
}

/* Botones del menú */
#menu button {
  width: 151px;
  height: 50px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 50px;
}

/* Lista de navegación dentro del menú */
#menu nav ul {
  width: 395px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Elementos de la lista del menú */
#menu nav ul li {
  list-style: none;
}

/* Enlaces dentro de los elementos del menú */
#menu nav ul li a {
  color: #FFFFFF;
  text-decoration: none;

}

/* Enlaces dentro de los botones del menú */
#menu button a {
  text-decoration: none;
  color: #FFFFFF;
}




/* ------------------- FLECHAS Y BOTÓN DE PLAY ------------------- */

/* Estilos generales para las flechas */
.flechas {
  height: 40px;
  width: 40px;
  margin-top: 320px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Flecha derecha */
#flechaderecha {
  margin-left: 110px;
}

/* Flecha izquierda */
#flechaizquierda {
  margin-right: 110px;
}

/* Contenedor de las flechas */
#cambiapagina {
  display: flex;
  justify-content: space-between;
}

/* Contenedor adicional para las flechas */
#cambiapagina_cont {
  display: flex;
}




/* ------------------- CONTENIDO PRINCIPAL ------------------- */

/* Estilos para los párrafos del contenido */
#contenido p {
  color: #FFFFFF;
  margin-top: 156px;
  margin-left: 60px;
  font-size: 16px;
}

/* Estilos para los encabezados del contenido */
#contenido h3 {
  color: #FFFFFF;
  width: 600px;
  margin-top: 10px;
  margin-left: 60px;
  font-size: 50px;
}



/* ------------------- BOTÓN DE VIDEO ------------------- */

/* Contenedor del botón de video */
.videoplay {
  width: 240px;
  margin-left: 60px;
  display: flex;
  gap: 20px;
}

/* Botón de reproducción */
#play {
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icono dentro del botón de reproducción */
#play img {
  width: 14px;
  height: 11px;
}

/* Enlace dentro del contenedor de video */
.videoplay>a {
  color: white;
  margin-top: 5px;
  text-decoration: none;
  font-size: 15px;
}





/* ------------------- SECCIÓN MAIN ------------------- */

/* Estilos generales para el elemento <main> */
main {
  position: absolute;
  width: 1920px;
  height: 6350px;
  background-color: #F7F2DB;
}





/* ------------------- SECCIÓN ABOUT ------------------- */

/* Contenedor principal de la sección "About" */
#about {
  width: 70px;
  height: 20px;
  font-size: 20px;
  margin-left: 920px;
}

/* Párrafo dentro de la sección "About" */
#about>p {
  text-align: center;
  color: #97A483;
  margin-top: 60px;
}


/* Encabezados dentro de la sección "About" */
#contenido2 h2 {
  margin-left: 700px;
  text-align: center;
  width: 520px;
  font-size: 50px;
  color: #2D2D2D;
}

/* Texto de descripción en la sección "About" */
.Lorem {
  max-width: 1000px;
  margin: 0 auto 50px auto;
  text-align: center;
  color: #555555;
  font-size: 15px;
  
}




/* ------------------- SECCIÓN IMÁGENES ------------------- */

/* Contenedor principal de las imágenes */
#imagenes {
  display: flex;
  padding-left: 380px;
  padding-right: 314px;
  padding-bottom: 50px;
  
}

/* Párrafos dentro de las imágenes */
#imagenes div p {
  font-size: 14px;
  margin-left: 10px;
  color: #555555;
}

/* Contenedor de grupo de imágenes */
.grupoimagenes {
  margin-top: 20px;
}

/* Imágenes dentro del grupo */
.grupoimagenes img {
  margin-left: 20px;
}

/* Imágenes dentro del grupo */
#logocaravanaverde1 img {
  width: 100px;
  height: 60px;
}

/* Imágenes dentro del grupo */
#logocaravanaverde img {
  width: 100px;
  height: 60px;
}

/* Imágenes dentro del grupo */
#logocaravanaverde p {
  width: 150px;
  height: 30px;
}

/* Imágenes dentro del grupo */
#tienda img {
  width: 80px;
  height: 60px;
}

/* Imágenes dentro del grupo */
#tienda p {
  width: 120px;
  height: 30px;
}

/* Imágenes dentro del grupo */
#tiendaverdegrande img {
  width: 100px;
  height: 60px;
}

/* Imágenes dentro del grupo */
#tiendaverdegrande p {
  width: 129px;
  height: 30px;
}

/* Imágenes dentro del grupo */
#cabañaverde p {
  width: 149px;
  height: 30px;
}

/* Imágenes dentro del grupo */
#cabañaverde img {
  width: 62px;
  height: 59px;
}

/* Imágenes dentro del grupo */
#grupoimagenes2 {
  display: flex;
  align-items: center;
  margin-top: 90px;
}

/* Imágenes dentro del grupo */
#grupoimagenes2 div {
  justify-items: center;
}

/* Imágenes dentro del grupo */
#grupoimagenes2 div img {
  width: 474px;
  height: 320px;
}

/* Imágenes dentro del grupo */
#grupoimagenes2 div h2 {
  width: 282px;
  font-size: 24px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

/* Imágenes dentro del grupo */
#grupoimagenes2 div p {
  width: 452px;
  height: 130px;
  font-size: 16px;
  color: #555555;
  text-align: center;
}

/* Imágenes dentro del grupo */
#caravanaenbosque {
  margin-left: 40px;
}

/* Imágenes dentro del grupo */
#camping {
  margin-left: 210px;
}

/* Imágenes dentro del grupo */
#tiendahamacas {
  margin-left: 40px;
}

/* Imágenes dentro del grupo */
#informacion {
  display: flex;
}


/* ------------------- SECCIÓN ACTIVIDADES ------------------- */

/* Contenedor principal de actividades */
#actividad {
  margin-bottom: 10px;
}


/* Párrafos dentro de actividades */
#actividad p {
  font-size: 20px;
  color: #97A483;
  margin-right: 10px;
}

/* Encabezados dentro de actividades */


#activity {
  margin-top: 130px;

}

#activity p {
  height: 24px;
  font-size: 20px;
  color: #97A483;
  margin-left: 210px;

}


#activity h1 {
  color: #2D2D2D;
  font-size: 50px;
  margin-top: 17px;
  margin-left: 210px;
}

#activityLogo {
  display: flex;
  justify-content: center;
  width: 682px;
  margin-top: 140px;
  margin-left: 230px;
}

/* Imágenes dentro del grupo */
#activityLogo img {
  width: 400px;
}

/* Imágenes dentro del grupo */
#activityLogo3,
#activityLogo4 {
  display: flex;
}

/* Imágenes dentro del grupo */
#activityLogo2 h1 {
  color: #2D2D2D;
  height: 25px;
  margin-top: 28px;
}

/* Imágenes dentro del grupo */
#activityLogo2 p {
  width: 296px;
  height: 130px;
  font-size: 16px;
  color: #555555;
  margin-top: 19px;
}

/* Imágenes dentro del grupo */
#montaña {
  margin-left: 104px;
  margin-top: 71px;
}

/* Imágenes dentro del grupo */
#logomontaña img {
  width: 104px;
  max-width: 104px;
  height: 104px;
  max-height: 104px;
  margin-top: 100px;
  margin-left: 84px;
}

/* Imágenes dentro del grupo */
#logomontaña h1 {
  width: 103px;
  max-width: 103px;
  margin-left: 84px;
}

/* Imágenes dentro del grupo */
#logomontaña p {
  margin-left: 84px;
}

/* Imágenes dentro del grupo */
#logofuegoverde {
  margin-top: 176px;
  margin-left: 84px;
}

/* Imágenes dentro del grupo */
#logofuegoverde img {
  width: 93px;
  height: 94px;
}

/* Imágenes dentro del grupo */
#logofuegoverde h1 {
  width: 85px;
}

/* Imágenes dentro del grupo */
#logocanoa {
  margin-left: 104px;
}

/* Imágenes dentro del grupo */
#logocanoa h1 {
  width: 113px;
}

/* Imágenes dentro del grupo */
#logocanoa img {
  width: 108px;
  height: 111px;
}

/* Imágenes dentro del grupo */
#logocaminar {
  margin-top: 70px;
  margin-left: 84px;
}

/* Imágenes dentro del grupo */
#logocaminar img {
  width: 112px;
  max-width: 112px;
  height: 112px;
  max-height: 112px;
}

/* Imágenes dentro del grupo */
#logocaminar h1 {
  width: 76px;
  max-width: 76px;
}





/* ------------------- SECCIÓN HOGUERA ------------------- */

/* Contenedor principal de la sección "Hoguera" */
#action {
  height: 700px; /* Altura del contenedor */
  background-image: url(imagenes/hoguera.png); /* Imagen de fondo */
  margin-top: 65px; /* Separación superior */
}


/* Párrafo dentro de la sección "Hoguera" */
#action p {
  color: #FFFFFF; /* Color del texto */
  text-align: center; /* Alineación centrada */
  width: 900px; /* Ancho del párrafo */
  font-weight: 700; /* Grosor del texto */
  font-size: 50px; /* Tamaño de la fuente */
  margin-top: 270px; /* Separación superior */
  margin-left: 550px; /* Margen izquierdo */
  position: absolute; /* Posicionamiento absoluto */
}

/* Botón dentro de la sección "Hoguera" */
#action button {
  width: 300px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  background-color: transparent; /* Fondo transparente */
  border: 2px solid #FFFFFF; /* Borde blanco */
  border-radius: 10px; /* Bordes redondeados */
  margin-top: 450px; /* Separación superior */
  margin-left: 850px; /* Margen izquierdo */
}

/* Enlace dentro del botón de la sección "Hoguera" */
#action button a {
  color: #FFFFFF; /* Color del texto */
  font-size: 14px; /* Tamaño de la fuente */
  text-decoration: none; /* Sin subrayado */
}









/* ------------------- SECCIÓN BOOKING ------------------- */

/* Párrafo principal de la sección "Booking" */
#booking p {
  color: #97A483; /* Color del texto */
  width: 90px; /* Ancho del párrafo */
  font-size: 20px; /* Tamaño de la fuente */
  margin-top: 120px; /* Separación superior */
  margin-left: 900px; /* Margen izquierdo */
}

/* Encabezado principal de la sección "Booking" */
#booking h1 {
  color: #2D2D2D; /* Color del texto */
  width: 660px; /* Ancho del encabezado */
  font-size: 50px; /* Tamaño de la fuente */
  text-align: center; /* Alineación centrada */
  margin-top: 20px; /* Separación superior */
  margin-left: 630px; /* Margen izquierdo */
}

/* Contenedor de anuncios dentro de la sección "Booking" */
.anunciosbooking {
  display: flex; /* Diseño en flexbox */
  margin-top: 85px; /* Separación superior */
  margin-left: 200px; /* Margen izquierdo */
}

/* Margen izquierdo para elementos específicos */
#caravana,
#fotocabañamadera {
  margin-left: 30px; /* Margen izquierdo */
}

/* Encabezados dentro de los anuncios */
.anunciosbooking h2 {
  color: #345E40; /* Color del texto */
  height: 25px; /* Altura del encabezado */
  max-height: 25px; /* Altura máxima */
  font-size: 24px; /* Tamaño de la fuente */
  margin-top: 40px; /* Separación superior */
}

/* Contenedor de información sobre personas */
.personas {
  width: 733px; /* Ancho del contenedor */
  max-width: 733px; /* Ancho máximo */
  display: flex; /* Diseño en flexbox */
  justify-content: space-between; /* Espaciado entre elementos */
}

/* Elementos dentro del contenedor de personas */
.personas div {
  width: 180px; /* Ancho del elemento */
  margin-top: 40px; /* Separación superior */
  display: flex; /* Diseño en flexbox */
  justify-content: space-between; /* Espaciado entre elementos */
}

/* Párrafos dentro del contenedor de personas */
.personas div p {
  font-size: 16px; /* Tamaño de la fuente */
  color: #555555; /* Color del texto */
}

/* Línea horizontal dentro del contenedor de personas */
.personas div hr {
  color: #9A9A9A; /* Color de la línea */
}

/* Párrafos dentro de los anuncios */
.anunciosbooking>div>p {
  width: 677px; /* Ancho del párrafo */
  height: 130px; /* Altura del párrafo */
  font-size: 16px; /* Tamaño de la fuente */
  text-align: justify; /* Alineación justificada */
  color: #555555; /* Color del texto */
  margin-top: 20px; /* Separación superior */
}

/* Botones dentro de los anuncios */
.anunciosbooking div button {
  width: 293px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  background-color: #345E40; /* Fondo verde oscuro */
  border-radius: 10px; /* Bordes redondeados */
  display: flex; /* Diseño en flexbox */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

/* Enlaces dentro de los botones de los anuncios */
.anunciosbooking div button a {
  color: #FFFFFF; /* Color del texto */
  width: 150px; /* Ancho del enlace */
  height: 17px; /* Altura del enlace */
  font-size: 14px; /* Tamaño de la fuente */
  text-decoration: none; /* Sin subrayado */
}


/* ------------------- SECCIÓN NOTICIAS ------------------- */

/* Párrafo principal de la sección "Noticias" */
#news>p {
  width: 55px; /* Ancho del párrafo */
  font-size: 24px; /* Tamaño de la fuente */
  color: #97A483; /* Color del texto */
  margin-top: 120px; /* Separación superior */
  margin-left: 210px; /* Margen izquierdo */
}

/* Contenedor principal de artículos recientes */
#LastestArticles {
  display: flex; /* Diseño en flexbox */
  margin-top: 13px; /* Separación superior */
}

/* Encabezado dentro de los artículos recientes */
#LastestArticles h2 {
  color: #2D2D2D; /* Color del texto */
  width: 621px; /* Ancho del encabezado */
  font-size: 50px; /* Tamaño de la fuente */
  margin-left: 209px; /* Margen izquierdo */
}

/* Botón dentro de los artículos recientes */
#LastestArticles button {
  display: flex; /* Diseño en flexbox */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  background-color: #345E40; /* Fondo verde oscuro */
  width: 151px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  border-radius: 11px; /* Bordes redondeados */
  margin-left: 730px; /* Margen izquierdo */
  color: #FFFFFF; /* Color del texto */

}

/* Enlace dentro del botón de los artículos recientes */
#LastestArticles button a {
  width: 80px; /* Ancho del enlace */
  height: 17px; /* Altura del enlace */
  font-size: 15px; /* Tamaño de la fuente */
  text-transform: uppercase; /* Texto en mayúsculas */

}

/* ------------------- SECCIÓN NOTICIAS ------------------- */

/* Contenedor principal de las noticias */
#news0 {
  display: flex; /* Diseño en flexbox */
  margin-top: 50px; /* Separación superior */
  justify-content: center;
}

/* Primera noticia dentro del contenedor */
#news1 {
  margin-left: 210px; /* Margen izquierdo */
}

/* Segunda noticia dentro del contenedor */
#news2 {
  margin-left: 40px; /* Margen izquierdo */
}

/* Tercera noticia dentro del contenedor */
#news3 {
  margin-left: 40px; /* Margen izquierdo */
}

/* Imagen dentro de las noticias */
.noticia img {
  width: 473px; /* Ancho de la imagen */
  height: 286px; /* Altura de la imagen */
}

/* Texto dentro de las noticias */
.noticia p {
  color: #2D2D2D; /* Color del texto */
  width: 453px; /* Ancho del párrafo */
  height: 62px; /* Altura del párrafo */
  font-size: 24px; /* Tamaño de la fuente */
  text-align: justify; /* Alineación justificada */
  margin-top: 43px; /* Separación superior */
  font-size: x-large; /* Tamaño de la fuente */
}

/* Enlace dentro de las noticias */
.link_noticias {
  color: #555555; /* Color del texto */
  width: 150px; /* Ancho del enlace */
  height: 60px; /* Altura del enlace */
  font-size: 24px; /* Tamaño de la fuente */
  text-decoration: none; /* Sin subrayado */
}

/* ------------------- SECCIÓN GALERÍA ------------------- */

/* Contenedor principal de la galería */
#ourgallery {
  width: 1711px; /* Ancho del contenedor */
  height: 840px; /* Altura del contenedor */
  display: flex; /* Diseño en flexbox */
  position: relative; /* Posicionamiento relativo */
  margin-left: 209px; /* Margen izquierdo */
  margin-top: 73px; /* Separación superior */
}

/* Párrafos dentro de la galería */
#ourgallery div p {
  color: #555555; /* Color del texto */
  width: 387px; /* Ancho del párrafo */
  height: 96px; /* Altura del párrafo */
  font-size: 16px; /* Tamaño de la fuente */
  text-align: justify; /* Alineación justificada */
  margin-top: 20px; /* Separación superior */
}

/* Encabezados dentro de la galería */
#ourgallery div h1 {
  width: 351px; /* Ancho del encabezado */
  height: 60px; /* Altura del encabezado */
  font-size: 50px; /* Tamaño de la fuente */
  color: #2D2D2D; /* Color del texto */
}

/* Contenedor de las flechas de la galería */
#flechasGaleria {
  display: flex; /* Diseño en flexbox */
  margin-top: 26px; /* Separación superior */
}

/* Botones de navegación dentro de la galería */
.botonesGaleria button {
  width: 40px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  background-color: transparent; /* Fondo transparente */
  border: 1px solid #555555; /* Borde gris */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  display: flex; /* Diseño en flexbox */
  border-radius: 100px; /* Forma circular */
}

/* Flecha derecha dentro de la galería */
#flechaderecha {
  opacity: 30%; /* Opacidad reducida */
}

/* Contenedor específico para la flecha derecha */
#flechaDerechaGaleria {
  margin-left: 35px; /* Margen izquierdo */
}

/* ------------------- SECCIÓN TIENDAS ------------------- */

/* Imagen principal de las tiendas */
#dostiendas img {
  width: 1140px; /* Ancho de la imagen */
  height: 757px; /* Altura de la imagen */
  margin-top:40px; /* Separación superior */
  margin-left: 183px; /* Margen izquierdo */
}


/* Contenedor de la casa triangular */
#casatriangular {
  position: absolute; /* Posicionamiento absoluto */
  width: 352px; /* Ancho del contenedor */
  height: 456px; /* Altura del contenedor */
  margin-left: 300px; /* Margen izquierdo */
  margin-top: 400px; /* Separación superior */
}

















/* ------------------- SECCIÓN FOOTER ------------------- */

/* Contenedor principal del footer */
footer {
  width: 1920px; /* Ancho completo del footer */
  max-width: 1920px; /* Ancho máximo del footer */
  height: 610px; /* Altura del footer */
  max-height: 610px; /* Altura máxima del footer */
  background-color: #345E40; /* Color de fondo del footer */
  margin-top: 6500px; /* Separación superior */
}


/* Contenedor de elementos dentro del footer */
footer > div {
  position: absolute; /* Posicionamiento absoluto */
  margin-left: 210px; /* Margen izquierdo */
  display: flex; /* Diseño en flexbox */
  margin-top: 100px; /* Separación superior */
}


/* Encabezados dentro del footer */
#subscribe h1 {
  color: #FFFFFF; /* Color del texto */
  width: 751px; /* Ancho del encabezado */
  height: 182px; /* Altura del encabezado */
  font-size: 70px; /* Tamaño de la fuente */
  text-transform: uppercase; /* Texto en mayúsculas */
  margin-right: 250px; /* Margen derecho */
}


/* Párrafos dentro del footer */
#subscribe p {
  height: 21px; /* Altura del párrafo */
  font-size: 16px; /* Tamaño de la fuente */
  color: #FFFFFF; /* Color del texto */
  margin-top: 50px; /* Separación superior */
}


/* Contenedor derecho del footer */
#derecha {
  margin-top: 180px; /* Separación superior */
  margin-left: 197px; /* Margen izquierdo */
}


/* ------------------- FOOTER FINAL ------------------- */

/* Contenedor del footer final */
#footerfinal {
  display: flex; /* Diseño en flexbox */
  margin-top: 33px; /* Separación superior */
}


/* Navegación dentro del footer final */
#footerfinal nav {
  width: 384px; /* Ancho del contenedor */
  max-width: 384px; /* Ancho máximo */
  height: 99px; /* Altura del contenedor */
  max-height: 99px; /* Altura máxima */
}

/* Encabezados dentro de la navegación del footer */
#footerfinal nav h4 {
  color: #FFFFFF; /* Color del texto */
  width: 99px; /* Ancho del encabezado */
  height: 43px; /* Altura del encabezado */
  font-size: 24px; /* Tamaño de la fuente */
}

/* Lista de navegación dentro del footer */
#footerfinal nav ul {
  width: 384px; /* Ancho de la lista */
  height: 32px; /* Altura de la lista */
  display: flex; /* Diseño en flexbox */
  justify-content: space-between; /* Espaciado entre elementos */
  padding: 0px; /* Sin relleno */
  margin-top: 24px; /* Separación superior */
}

/* Elementos de la lista de navegación */
#footerfinal nav ul li {
  list-style: none; /* Sin viñetas */
}

/* Enlaces dentro de la lista de navegación */
#footerfinal > nav > ul a {
  font-size: 16px; /* Tamaño de la fuente */
  text-decoration: none; /* Sin subrayado */
  color: #FFFFFF; /* Color del texto */
}

/* Botón circular en el footer */
#botonfinal {
  width: 48px; /* Ancho del botón */
  height: 48px; /* Altura del botón */
  border: 1px solid #FFFFFF; /* Borde blanco */
  border-radius: 100px; /* Forma circular */
  display: flex; /* Diseño en flexbox */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  margin-top: 12px; /* Separación superior */
  margin-left: 124px; /* Margen izquierdo */
}






/* ------------------- CONTACTO EN EL FOOTER ------------------- */

/* Contenedor de la sección de contacto */
#footercontacto {
  width: 222px; /* Ancho del contenedor */
  max-width: 222px; /* Ancho máximo */
  height: 130px; /* Altura del contenedor */
  max-height: 130px; /* Altura máxima */
  margin-top: 80px; /* Separación superior */
}

/* Encabezados dentro de la sección de contacto */
#footercontacto h4 {
  width: 90px; /* Ancho del encabezado */
  max-width: 90px; /* Ancho máximo */
  height: 40px; /* Altura del encabezado */
  max-height: 40px; /* Altura máxima */
  font-size: 24px; /* Tamaño de la fuente */
  color: #F8F5F0; /* Color del texto */
}

/* Enlaces dentro de la sección de contacto */
#footercontacto a {
  width: 170px; /* Ancho del enlace */
  max-width: 170px; /* Ancho máximo */
  height: 20px; /* Altura del enlace */
  max-height: 20px; /* Altura máxima */
  font-size: 16px; /* Tamaño de la fuente */
  color: #FFFFFF; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
}






/* ------------------- LOGOS EN EL FOOTER ------------------- */

/* Contenedor de los logos en el footer */
#footerlogos {
  width: 213px; /* Ancho del contenedor */
  height: 24px; /* Altura del contenedor */
  margin-top: 19px; /* Separación superior */
  display: flex; /* Diseño en flexbox */
  justify-content: space-between; /* Espaciado entre elementos */
  align-items: center; /* Alineación vertical */
}

/* Imágenes de los logos en el footer */
#Logos_Footer img {
  width: 24px; /* Ancho de la imagen */
  max-width: 24px; /* Ancho máximo */
  height: 24px; /* Altura de la imagen */
  max-height: 24px; /* Altura máxima */
}






 
/* ------------------- LÍNEAS Y FORMULARIOS ------------------- */

/* Línea separadora */
hr {
  border-left: 1px solid #9A9A9A; /* Línea vertical gris */
}

/* Flecha circular */
.flecha {
  height: 40px; /* Altura de la flecha */
  width: 40px; /* Ancho de la flecha */
  border: 1px solid #6d6d6d; /* Borde gris oscuro */
  border-radius: 100%; /* Forma circular */
  display: flex; /* Diseño en flexbox */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

/* Línea horizontal */
#linea {
  border: 1px solid #9A9A9A; /* Línea gris */
  margin-right: 200px; /* Margen derecho */
}

/* Formulario de reserva */
form {
  margin: -40px 250px 0 250px; /* Márgenes alrededor del formulario */
}

/* Contenedor de la reserva */
.reserva {
  display: flex; /* Diseño en flexbox */
  align-items: center; /* Alineación vertical */
  justify-content: center; /* Centrado horizontal */
  background: white; /* Fondo blanco */
  padding: 20px; /* Relleno interno */
  width: 100%; /* Ancho completo */
}

/* Contenedor de la reserva y alojamiento */
.reserva,
.Accommodation {
  display: flex; /* Diseño en flexbox */
  margin: 0 10px; /* Márgenes laterales */
  gap: 20px; /* Espaciado entre elementos */
}

/* Etiquetas y contenedores dentro del formulario */
label,
.Accommodation div {
  font-size: 14px; /* Tamaño de la fuente */
  color: #2e5633; /* Color del texto */
  margin-bottom: 5px; /* Separación inferior */
}


/* Campos de entrada y selección */
input[type="date"],
input[type="text"],
select {
  border: none; /* Sin borde */
  border-bottom: 1px solid black; /* Línea inferior negra */
  padding: 5px; /* Relleno interno */
  font-size: 14px; /* Tamaño de la fuente */
  width: 150px; /* Ancho del campo */
}

/* Botón de reserva */
.booknow {
  background-color: #2e5633; /* Fondo verde oscuro */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  padding: 10px 25px; /* Relleno interno */
  font-size: 14px; /* Tamaño de la fuente */
  border-radius: 8px; /* Bordes redondeados */
  margin-left: 20px; /* Margen izquierdo */
}

/* Logo del artículo */
.logoArticle img {
  height: 110px; /* Altura de la imagen */
  margin-top: 30px; /* Separación superior */
  margin-left: 115px; /* Margen izquierdo */
}